* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: '', sans-serif;
    background-color: #f9fcef;
    /* overflow: hidden; */
    height: 100vh;
}

.main-content{
    display: flex;
    align-items: center;
    padding: 3rem 2rem;
    flex-wrap: wrap;
}
.left{
    max-width: 50%;
    margin-top: -400px;
}
.left h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: black;
}

.left p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: black;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 40rem;
}
.btn{
    display: flex;
    flex-direction: column;
    padding: 1rem 5rem;
    border-radius: 25px;
    font-weight: bold;
    border: none;
    color: white;
}

.btn-top{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.btn-bottom{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.btn-green{
    background-color: #92CF4B;
}

.btn-green:hover{
    background-color: #68a029;
    color:rgb(200, 200, 200);
    cursor: pointer;
}

.btn-grey{
    background-color: #969083;
}

.home-container {
    position: relative;
    width: 100%;
    overflow-x: hidden;
  }
  
  .home-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }

#background-img{
    top: 0;
    right: 0;
    position: absolute;
    height: 95%;
}
.right{
    position: relative;
    width: 50vh;
    height: 100vh;
    overflow: visible;
}

.ramen-wrapper{
    position: absolute;
    bottom: 40%;
    right: -75%;
    width: 400px;
    height: 400px;
    z-index: 1; 
}

.green-circle{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #92CF4B;
    border-radius: 50%;
    z-index: 0;
}
.ramen-img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    z-index: 0;
}

.LeafFood{
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 600px;
    z-index: 0;
}